*AppleDouble*
.vscode
*swp
*swo
*.o
*dSYM
*.log
*key
*gz
*tar
*afp
Makefile
autom4te.cache
config.status
src/.deps/*
include/config.h
libtool
test/*
include/config.h.in~
include/stamp-h1
files
src/wh
.DS_Store
TODO.txt
data/arpchat.lua.bak
data/arpchat.lua.alpha.bak
